/* 定義不同裝置寬度底下，對應的 .fs 屬性 */
/* 用於動態調整不同螢幕寬度的文字大小 */

/* 使用 google web font ( noto sans ) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

.fw-light {
  font-weight: 400 !important;
}

.fw-normal {
  font-weight: 500 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

@media screen and (min-width: 320px){
  .fs-1 {
    font-size: 2.2rem !important;
  }
  
  .fs-2 {
    font-size: 2rem !important;
  }
  
  .fs-3 {
    font-size: 1.8rem !important;
  }
  
  .fs-4 {
    font-size: 1.2rem !important;
  }
  
  .fs-5 {
    font-size: 1.1rem !important;
  }
  
  .fs-6 {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 568px) {
  .fs-1 {
    font-size: 2.6rem !important;
  }
  
  .fs-2 {
    font-size: 2.4rem !important;
  }
  
  .fs-3 {
    font-size: 2.2rem !important;
  }
  
  .fs-4 {
    font-size: 1.6rem !important;
  }
  
  .fs-5 {
    font-size: 1.4rem !important;
  }
  
  .fs-6 {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 768px) {
  .fs-1 {
    font-size: 2.8rem !important;
  }

  .fs-2 {
    font-size: 2.6rem !important;
  }

  .fs-3 {
    font-size: 2.4rem !important;
  }

  .fs-4 {
    font-size: 1.8rem !important;
  }

  .fs-5 {
    font-size: 1.6rem !important;
  }

  .fs-6 {
    font-size: 1.4rem !important;
  }
}