/* 使用 normalize */
@import url('../..//node_modules/normalize.css/normalize.css');
/* 引入自定義的 .css */
@import url(./rwd.css);
@import url(./font.css);
@import url(./utils.css);
@import url(./color.css);
@import url(./button.css);
@import url(./badge.css);

body {
  font-size: 16px;
  /* 順序有考慮到不同作業系統的中文字體兼容性 */
  font-family: "Arial", "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "LiHei Pro","sans-serif";
}

body > section ~ section {
  margin-top: 14rem;
}

.highlight {
  position: absolute;
  width: 100%;
  top: 28rem;
  height: 84rem;
  z-index: -1;
}

.profile {
  width: 90vw;
  margin: 2rem auto 0;
}

.profile__avatar {
  margin: 0 auto 1rem;
  background-image: url('./img/avatar.jpg');
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.profile__personal-info__name {
  text-align: center;
  margin: 0;
}

.profile__personal-info__quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__personal-info__quote__icon {
  margin-right: 0.6rem;
  width: 0.6rem;
  height: 1.8rem;
}

.profile__personal-info__location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__personal-info__location__icon {
  margin-right: 0.4rem;
}

.profile__links {
  width: fit-content;
  height: fit-content;
  margin: 2rem auto 0;
}

.profile__links > div ~ div {
  margin-top: 0.6rem;
}

.profile__links__github > i,
.profile__links__email > i {
  margin-right: 0.4rem;
}

.profile__links__github__text,
.profile__links__email__text {
  text-decoration: none;
  word-break: break-all;
}

.background {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.background__title {
  text-align: center;
}

.background__timeline__subtitle {
  text-align: center;
}

/* card design */
.background__timeline__achievements--white {
  width: 90vw;
  box-sizing: border-box;
  height: fit-content;
  padding: 0.8rem 0.8rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
}

/* .skills {
  
} */

.skills__title {
  text-align: center;
}

.skills__caption {
  text-align: center;
}

.skills__slider {
  display: flex;
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}

.skills__slider__skill {
  margin-right: 0.6rem;
  width: fit-content;
  height: fit-content;
}

.skills__slider__skill__icon {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
}

.skills__slider__skill__name {
  text-align: center;
}

/* add skill icons */
div.skills__slider__skill:nth-child(1) div.skills__slider__skill__icon {
  background-image: url("./img/css3.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

div.skills__slider__skill:nth-child(2) div.skills__slider__skill__icon {
  background-image: url("./img/html5.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

div.skills__slider__skill:nth-child(3) div.skills__slider__skill__icon {
  background-image: url("./img/js.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

div.skills__slider__skill:nth-child(4) div.skills__slider__skill__icon {
  background-image: url("./img/jquery.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

div.skills__slider__skill:nth-child(5) div.skills__slider__skill__icon {
  background-image: url("./img/bootstrap.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

div.skills__slider__skill:nth-child(6) div.skills__slider__skill__icon {
  background-image: url("./img/webpack.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}


div.skills__slider__skill:nth-child(7) div.skills__slider__skill__icon {
  background-image: url("./img/react.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

div.skills__slider__skill:nth-child(8) div.skills__slider__skill__icon {
  background-image: url("./img/redux.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.side-projects {
  position: relative;
}

.side-projects__title {
  text-align: center;
}

.side-projects__illustration-3q {
  position: absolute;
  z-index: 1000;
  top: -12rem;
  right: 0.8rem;
}

.side-projects__frame {
  margin: 0 auto;
  position: relative;
  /* 維持 16:9 比例 */
  width: 90vw;
  height: calc(90vw * 9 / 16);
  border-radius: 0.5rem;
  margin-bottom: 4.8rem;
  box-shadow:  0px 8px 24px rgba(149, 157, 165, 0.2); 
}

/* add project covers */
section.side-projects div.side-projects__frame:nth-child(3) {
  background-image: url('./img/clothing-ec-min.jpg');
  background-size: cover;
}

section.side-projects div.side-projects__frame:nth-child(4) {
  background-image: url('./img/todo-manager-min.jpg');
  background-size: cover;
}

section.side-projects div.side-projects__frame:nth-child(5) {
  background-image: url('./img/uiux-min.jpg');
  background-size: cover;
}

.side-projects__frame__tags {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.4rem;
}

.side-projects__frame__tags > span {
  display: inline-block;
  margin-top: 0.4rem;
}

.side-projects__frame__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  /* 維持 16:9 比例 */
  width: 90vw;
  /* height: calc(90vw * 9 / 16); */
  border-radius: 0 0 0.5rem 0.5rem;
  box-sizing: border-box;
  padding: 0.6rem 0.8rem;
  bottom: 0;
}

footer {
  margin-top: 6rem;
}

.footer__links {
  text-align: center;
  box-sizing: border-box;
  padding: 0.8rem 0.4rem;
}

.footer__links__github > a,
.footer__links__email > a {
  text-decoration: none;
}

.footer__links__github {
  margin-right: 0.6rem;
}

.footer__desc {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0.8rem;
}