/* 使用 normalize */
@import url('/node_modules/normalize.css/normalize.css');
/* 引入自定義的 .css */
@import url(/src/css/rwd.css);
@import url(/src/css/font.css);
@import url(/src/css/utils.css);
@import url(/src/css/color.css);
@import url(/src/css/button.css);
@import url(/src/css/badge.css);

body {
  font-size: 16px;
  font-family: 'Noto Sans TC', sans-serif;
}

body > section ~ section {
  margin-top: 10rem;
}

.highlight {
  position: absolute;
  width: 100%;
  top: 28rem;
  height: 62rem;
  z-index: -1;
}

.profile {
  width: 90vw;
  margin: 2rem auto 0;
}

.profile__avatar {
  margin: 0 auto 1rem;
  background-color: #c4c4c4;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.profile__personal-info__name {
  text-align: center;
  margin: 0;
}

.profile__personal-info__quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__personal-info__quote__icon {
  margin-right: 0.6rem;
  width: 0.6rem;
  height: 1.8rem;
  background-color: #c4c4c4;
}

.profile__personal-info__location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__personal-info__location__icon {
  margin-right: 0.4rem;
}

.profile__personal-info__location__icon > i {
  color: #000;
}

.profile__links {
  width: fit-content;
  height: fit-content;
  margin: 2rem auto 0;
}

.profile__links > div ~ div {
  margin-top: 0.6rem;
}

.profile__links__email {
  justify-self: flex-start;
}

.profile__links__github > i,
.profile__links__email > i {
  color: #000;
  margin-right: 0.4rem;
}

.profile__links__github__text,
.profile__links__email__text {
  text-decoration: none;
  color: #000;
}

.background {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.background__title {
  text-align: center;
}

.background__timeline__subtitle {
  text-align: center;
}

/* card design */
.background__timeline__achievements--white {
  width: 90vw;
  box-sizing: border-box;
  height: fit-content;
  padding: 0.8rem 0.8rem;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
}

/* .skills {
  
} */

.skills__title {
  text-align: center;
}

.skills__caption {
  text-align: center;
}

.skills__slider {
  display: flex;
  width: 90vw;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0 auto;
}

.skills__slider__skill {
  margin-right: 0.6rem;
  width: fit-content;
  height: fit-content;
}

.skills__slider__skill__icon {
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.skills__slider__skill__name {
  text-align: center;
}

/* .side-projects {

} */

.side-projects__title {
  text-align: center;
}

.side-projects__frame {
  margin: 0 auto;
  position: relative;
  /* 維持 16:9 比例 */
  width: 90vw;
  height: calc(90vw * 9 / 16);
  background-color: #c4c4c4;
  border-radius: 0.5rem;
  margin-bottom: 4.8rem;
  box-shadow:  0px 8px 24px rgba(149, 157, 165, 0.2); 
}

.side-projects__frame__tags {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.4rem;
}

.side-projects__frame__tags > span {
  display: inline-block;
  margin-top: 0.4rem;
}

.side-projects__frame__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: white;
  background-color: #7db0d1;
  /* 維持 16:9 比例 */
  width: 90vw;
  /* height: calc(90vw * 9 / 16); */
  border-radius: 0 0 0.5rem 0.5rem;
  box-sizing: border-box;
  padding: 0.6rem 0.8rem;
  bottom: 0;
}

footer {
  margin-top: 6rem;
  background-color: #c4c4c4;
}

.footer__links {
  text-align: center;
  box-sizing: border-box;
  padding: 0.8rem 0.4rem;
}

.footer__links__github > i,
.footer__links__email > i{
  color: #fff;
  margin-right: 0.4rem;
}

.footer__copy-right {
  text-align: center;
  color: white;
  margin-top: 0.2rem;
  margin-bottom: 0;
  padding-bottom: 0.8rem;
}